<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" type="text/css" href="../css/common.css">
		<title>更新</title>
	</head>
	<body>
		<div id="wapper">
			<div class="menu">
				<a th:href="@{/}">メニュー</a><br>
				<a th:href="@{/list}">メンバ一覧</a><br>
			</div>
			<div class="menu">
				<h2>更新完了画面</h2>
				<p>以下のデータに更新されました</p>
			</div>
			<form th:action="@{/updateComp}" method="post" th:object="${member}">
				<table class="ct">
					<tr>
						<th>&nbsp;</th>
						<th>変更後</th>
					</tr>
					<tr>
						<th>社員ID</th>
						<td>
							<span th:text="*{memberId}"></span>
						</td>
					</tr>
					<tr>
						<th>氏名</th>
						<td>
							<span th:text="*{name}"></span>
						</td>
					</tr>
					<tr>
						<th>年齢</th>
						<td>
							<span th:text="*{age}"></span>
						</td>
					</tr>
					<tr>
						<th>性別</th>
						<td>
							<span th:text="*{sex}"></span>
						</td>
					</tr>
					<tr>
						<th>住所</th>
						<td>
							<span th:text="*{address}"></span>
						</td>
					</tr>
					<tr>
						<th>電話番号</th>
						<td>
							<span th:text="*{tel}"></span>
						</td>
					</tr>
					<tr>
						<th>メールアドレス</th>
						<td>
							<span th:text="*{mail}"></span>
						</td>
					</tr>
					<tr>
						<th>役職</th>
						<td>
							<span th:text="*{placeName}"></span>
						</td>
					</tr>
					<tr>
						<th>事業所</th>
						<td>
							<span th:text="*{positionName}"></span>
						</td>
					</tr>
				</table>
			</form>
		</div>
	</body>
</html>