<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" type="text/css" href="../css/common.css">
		<title>新規登録</title>
	</head>
	<body>
		<div id="wrapper">
			<div class="menu">
				<a th:href="@{/}">メニュー</a><br>
			</div>
			<div class="menu">
				<h2>新規登録画面</h2>
			</div>
			<form th:action="@{/insertConf}" method="post" th:object="${form}">
				<table class="ct">
					<tr>
						<th>社員ID</th>
						<td><input type="text" th:field="*{memberId}"></td>
					</tr>
					<tr>
						<th>氏名</th>
						<td><input type="text" th:field="*{name}"></td>
					</tr>
					<tr>
						<th>年齢</th>
						<td><input type="text" th:field="*{age}"></td>
					</tr>
					<tr>
						<th>性別</th>
						<td>
							男<input type="radio" th:field="*{sex}" value="0">
							女<input type="radio" th:field="*{sex}" value="1">
						</td>
					</tr>
					<tr>
						<th>住所</th>
						<td><input type="text" th:field="*{address}"></td>
					</tr>
					<tr>
						<th>電話番号</th>
						<td><input type="text" th:field="*{tel}"></td>
					</tr>
					<tr>
						<th>メールアドレス</th>
						<td><input type="text" th:field="*{mail}"></td>
					</tr>
					<tr>
						<th>役職</th>
						<td>
							<select name="positionName">
								<option value="">選択してください</option>
								<option 
									th:each="position : ${positions}"
									th:text="${position.positionName}"
									th:value="${position.positionName}">
								</option>
							</select>
						</td>
					</tr>
					<tr>
						<th>事業所</th>
						<td>
							<select name="placeName">
								<option value="">選択してください</option>
								<option
									th:each="place : ${places}"
									th:text="${place.placeName}"
									th:value="${place.placeName}">
								</option>
							</select>
						</td>
					</tr>
				</table>
				<div class="menu">
					<input type="submit" value="登録">
				</div>
			</form>
		</div>
	</body>
</html>